<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film Manager</title>
    <link rel="stylesheet" href="css/folketing.css">
</head>
<body>
<div class="container">
    <h1>Folketing Applikation</h1>
    <a href="/new">Add New Person</a>
    <ul>
        <% persons.forEach(person => { %>
            <li>
                <div class="person-info">
                    <%= person.navn %> medlem af: <%= person.parti %> som <%= person.position %> (<%= person.startdato %>)
                </div>
                <div class="actions">
                    <form action="/person/<%= person._id %>/delete" method="POST">
                        <button type="submit">Delete</button>
                    </form>
                    <form action="/person/<%= person._id %>/update" method="GET">
                        <button type="submit" class="update">Update</button>
                    </form>
                </div>
            </li>
        <% }) %>
    </ul>
</div>
</body>

